# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Notebook Checkpoints
.ipynb_checkpoints/


# data:
data/test__*

# output:
output/img*

# notebooks tests crudos:
*_raw*


# temp:
data/.~*

# ignore los pickles:
*.pkl